.homeCont{
    margin: 0;
    padding: 0;

}
.landingCont{

    height: calc(100vh - 80px);
    border:1px solid dimgray;


    
}

.soupCarosoulCont{

    height: calc(60vh - 80px);
    border:1px solid dimgray;

}
.trendyRecipesCont{

    height: calc(80vh - 80px);
    border:1px solid dimgray;

}