.homeCont{
    margin: 0;
    padding: 0;

}
.landingCont{
    height: calc(100vh - 80px);
    position: relative;
}
.landingCont>img{
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
}


.soupCarosoulCont{
    border:1px solid dimgray;
    padding: 2rem 0;

}
.trendyRecipesCont{

    height: calc(80vh - 80px);
    border:1px solid dimgray;
}
.heroCont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96%;
    height: 92%;
    border:2px solid #163968;
    border-radius: 24px;
}
.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76%;
}

.heroTitle{
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}

.heroTitle>span{
    color: orangered;
}
.heroSubTitle{
    text-align: center;
    color: darkgray;
    margin-bottom: 1rem;

}
.heroAction{
    text-align: center;
    background-color: orangered;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 99px;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    transition: 0.3s ease-in-out;
}
.heroAction:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.contentCont{
    margin: 0;
    padding: 0;
    align-self: center;
    padding: 0rem 6rem;
}